<%- include("../component/_header.ejs",{
    id: "news",
    depth: 1,
    enableLoading: "news",
    title: "お知らせ | 第一高等学校・東京大学弁論部",
    ogTitle: "お知らせ | 第一高等学校・東京大学弁論部",
    ogURL: "utbenron.com/news/",
    description: "大会出場報告、企画のお知らせ、運営に関する告知など、弊部に関連した様々なお知らせを掲載しています。",
    ogDescription: "大会出場報告、企画のお知らせ、運営に関する告知など、弊部に関連した様々なお知らせを掲載しています。",
    ogImgURL: "https://utbenron.com/assets/image/news.jpg", //変更予定
    twitterCardType: "summary"
}); -%>
    <main id="main">
        <div id="subpage-top">
            <div id="subpage-top__title">
                <h2 id="subpage-top__title-text">お知らせ</h2>
            </div>
            <img id="subpage-top__img" src="../assets/image/news.jpg" alt="">
            <div id="subpage-top__down">scroll</div>
        </div>

        <h3 class="heading-1" id="news-page__title">お知らせ一覧</h3>

        <div id="news-top-wrapper">
            <ul id="news-list"></ul>

            <div id="news-control">
                <div id="news-pagination">
                    <div id="news-pagination__list-container">
                        <ul id="news-pagination__list"></ul>
                    </div>
                </div>
                <div id="back-to-top">お知らせ一覧に戻る<a href="./"></a></div>
            </div>

            <div id="news-category">
                <h3 id="news-category__title" class="heading-2">カテゴリー別</h3>
                <ul id="news-category__list">
                </ul>
            </div>
        </div>
    </main>
<%- include("../component/_footer",{id:"news",depth: 1}) %>