<%- include("../component/_header.ejs",{
    id: "event",
    depth: 1,
    enableLoading: "event",
    title: "企画 | 第一高等学校・東京大学弁論部",
    ogTitle: "企画 | 第一高等学校・東京大学弁論部",
    ogURL: "utbenron.com/event/",
    description: "弊部が開催している様々な企画に関する情報を掲載しています。",
    ogDescription: "弊部が開催している様々な企画に関する情報を掲載しています。",
    ogImgURL: "https://utbenron.com/assets/image/event.jpg",
    twitterCardType: "summary"
}); -%>
    <main id="main">
        <div id="subpage-top">
            <div id="subpage-top__title">
                <h2 id="subpage-top__title-text">企画</h2>
            </div>
            <img id="subpage-top__img" src="../assets/image/event.jpg" alt="">
            <div id="subpage-top__down">scroll</div>
        </div>

        <div class="text-block no-heading">
            <p class="text-normal">東大弁論部では、部内での弁論・ディベートの活動に加えて、外部向けの大会などを企画しております。</p>
        </div>

        <h3 class="heading-1">弁論大会</h3>
        <h4 class="heading-2">総長杯</h4>
        <div class="text-block text-block__with-img">
            <div class="text-content-wrapper">
                <p class="text-normal">総長杯(東京大学総長杯争奪全国学生弁論大会)は、毎年秋開催の弁論大会です。近年は、東京大学本郷キャンパスの安田講堂にて開催しています。</p>
                <p class="text-normal">秋の学生弁論大会シーズンのなかでもとりわけ格式高い大会であり、毎年多くの聴衆でにぎわいます。</p>
            </div>
            <img class="img-in-block" src="../assets/image/event/souchohai.jpg" alt="総長杯">
        </div>

        <h4 class="heading-2">五月祭弁論大会</h4>
        <div class="text-block text-block__with-img">
            <div class="text-content-wrapper">
                <p class="text-normal">五月祭弁論大会（東京大学五月祭記念弁論大会）は、東京大学本郷キャンパスで毎年5月に開催される五月祭において弁論部が主催する弁論大会です。</p>
                <p class="text-normal">五月祭という大規模な行事の中で開催されるため、はじめて弁論をご覧になる方が数多くいらっしゃいます。また、新歓直後の5月に開かれるということもあり、各大学がとりわけ力を入れた弁論を披露します。</p>
            </div>
            <img class="img-in-block" src="../assets/image/event/mayfes.jpg" alt="五月祭弁論大会">
        </div>

        <h3 class="heading-1">ディベート大会</h3>
        <h4 class="heading-2">ITB杯</h4>
        <div class="text-block text-block__with-img">
            <div class="text-content-wrapper">
                <p class="text-normal">多くの方が気軽に参加できる即興ディベート大会として、不定期で「ITB杯」を開催しております。</p>
            </div>
            <img class="img-in-block" src="../assets/image/event/itbcup.jpg" alt="第一回ITB杯">
        </div>

        <h3 class="heading-1">その他</h3>
        <h4 class="heading-2">駒場祭</h4>
        <div class="text-block text-block__with-img">
            <div class="text-content-wrapper">
                <p class="text-normal">11月に東京大学で開催される駒場祭にて、毎年一般向けの様々な企画を行っております。</p>
            </div>
            <img class="img-in-block" src="../assets/image/event/komafes.jpg" alt="駒場祭">
        </div>
    </main>
<%- include("../component/_footer.ejs",{id:"event",depth:1}) %>