<%- include("../component/_header.ejs",{
    id: "souchouhai",
    depth: 1,
    enableLoading: "event-souchouhai",
    title: "総長杯 | 企画 | 第一高等学校・東京大学弁論部",
    ogTitle: "総長杯 | 企画 | 第一高等学校・東京大学弁論部",
    ogURL: "utbenron.com/event/souchouhai",
    description: "今年度の総長杯に関する情報を掲載しています。",
    ogDescription: "今年度の総長杯に関する情報を掲載しています。",
    ogImgURL: "https://utbenron.com/assets/image/logo/icon.png",
    twitterCardType: "summary"
}); -%>
    <main id="main" class="no-top">
        <h3 class="heading-1">総長杯について</h3>
        <div class="text-block">
            <p class="text-normal">総⻑杯(東京⼤学総⻑杯争奪全国学⽣弁論⼤会)は、毎年秋に東京⼤学弁論部が開催する⼤会です。</p>
            <p class="text-normal">秋の学⽣弁論⼤会シーズンのなかでもとりわけ格式⾼い⼤会であり、毎年多くの聴衆でにぎわいます。⼀般の⽅のご参加も歓迎しております。是⾮弁⼠たちの熱い想いに⽿を傾けにいらしてください。</p>
            <p class="text-normal">なお参加は無料・申し込み不要、途中⼊退場は⾃由となっています。</p>
        </div>

        <h3 class="heading-1">第40回(2021年度)東京大学総長杯争奪全国学生弁論大会について</h3>
        <h4 class="heading-2">大会概要</h4>
        <div class="text-block">
            <ul class="list-in-block">
                <li>開催日時：2021年12月19日（日）</li>
                <li>開催場所：</li>
                <ul class="list-in-list">
                    <li>弁士・弁士関係者：東京大学本郷キャンパス　安田講堂</li>
                    <li>聴衆：オンライン（YouTube Live）</li>
                </ul>
                <li>主催：第一高等学校・東京大学弁論部</li>
                <li>後援：朝日新聞社、第一高等学校・東京大学弁論部OB会「縦の会」</li>
            </ul>
            <p class="text-normal text-right"><a class="text-link is-emphasized" href="https://youtu.be/bmQqwXE4MKE" target="_blank" rel="noopener noreferrer">→ youtube liveのリンクはこちら</a></p>
        </div>

        <h4 class="heading-2">大会次第</h4>
        <div class="text-block">
            <ul class="list-in-block">
                <li>8:30　開場</li>
                <li>9:00　開会式</li>
                <ul class="list-in-list">
                    <li>開会挨拶（前々年度部長 129期 内野澤 安紀）</li>
                    <li>総長挨拶（東京大学総長 藤井 輝夫 先生）</li>
                    <li>審査員紹介</li>
                    <li>優勝杯返還<br>（前回大会最優秀賞 第一高等学校・東京大学弁論部 芳仲 琴音）</li>
                    <li>大会規定説明</li>
                    <li>弁士紹介</li>
                </ul>

                <p class="list-title">午前の部</p>
                <li>9:30 ~ 10:10: 第一弁士　伊藤 佑太朗 (日本大学法秋雄弁会)</li>
                <ul class="list-in-list">
                    <li>演題: 父を訪ねて三千里</li>
                </ul>
                <li>10:10 ~ 10:50: 第二弁士　西村 昇一郎(早稲田大学雄弁会)</li>
                <ul class="list-in-list">
                    <li>演題: きゃべつ</li>
                </ul>
                <li>10:50 ~ 11:30: 第三弁士　三木 悠登(新潟大学弁論部）</li>
                <ul class="list-in-list">
                    <li>演題: 火星より遠い地球</li>
                </ul>
                <li>11:30 ~ 12:10: 第四弁士　井出 真広(SHH、慶應義塾大学弁論部日吉會)</li>
                <ul class="list-in-list">
                    <li>演題: 未来泥棒</li>
                </ul>
                <li>12:10 ~ 13:00: 昼休み</li>
                <ul class="list-in-list">
                    <li>会場内は飲食禁止です。昼食は会場外でお願いします。</li>
                </ul>

                <p class="list-title">午後の部 前半</p>
                <li>13:00 ~ 13:40: 第五弁士　山﨑 遼介（法政大学弁論部）</li>
                <ul class="list-in-list">
                    <li>演題: 砂上の楼閣</li>
                </ul>
                <li>13:40 ~ 14:20: 第六弁士　林 啓介（國學院大學辯論部）</li>
                <ul class="list-in-list">
                    <li>演題: 弱さと武器</li>
                </ul>
                <li>14:20 ~ 15:00: 第七弁士　古川 真歩（中央大学辞達学会）</li>
                <ul class="list-in-list">
                    <li>演題: 再出発</li>
                </ul>
                <li>15:00 ~ 15:10: 小休憩</li>
                
                <p class="list-title">午後の部 後半</p>
                <li>15:10 ~ 15:50: 第八弁士　阿江 慎一郎（東京大学大学院情報学環）</li>
                <ul class="list-in-list">
                    <li>演題: ルッキズムの限界</li>
                </ul>
                <li>15:50 ~ 16:30: 第九弁士　渡邊 有生斗（明治大学雄弁部）</li>
                <ul class="list-in-list">
                    <li>演題: 自転車利用規制</li>
                </ul>
                <li>16:30 ~ 17:10: 第十弁士　六車 梨夏（第一高等学校・東京大学弁論部）</li>
                <ul class="list-in-list">
                    <li>演題: 欠席者にやさしい社会へ</li>
                </ul>
                <li>17:10 ~ 18:00: 休憩（審査時間）</li>
                <li>18:00: 閉会式</li>
                <ul class="list-in-list">
                    <li>審査員講評　各審査員より</li>
                    <li>審査結果発表・表彰</li>
                    <li>閉会の辞（大会実行委員長 宗形 圭悟）</li>
                </ul>
                <li>閉会式終了後 ※レセプションはありません</li>
                <ul class="list-in-list">
                    <li>各団体による写真撮影</li>
                </ul>
            </ul>
        </div>

        <h4 class="heading-2">大会趣意</h4>
        <div class="text-block">
            <p class="text-normal" style="font-weight: bold;">弁論、あまりに時代遅れな</p>
            <p class="text-normal">「弁論界にとって、終わりの見えない暗雲かと思われたコロナ禍を乗り越え我々は…」このような書き出しは、今となってはあまりにも使い古されたクリシェであり、言説のフロンティアたるべき弁論大会において、もはや凡庸であると言わなければならない。言論の徒たるべき我々にとって、時宜を得た弁論を行うことはもちろん重要であるが、それ以上に我々は、己の信念に照らし合わせ、自分が今、語るべきと思うことに真摯に向き合わなければならないのではないか。</p>
            <p class="text-normal">そもそも、なぜ我々は弁論に心惹かれたか。弁論を単なる伝達手段の一つとするならば、不可逆的で、時間の制限すらあるその形態は、全くもって非合理的であると言わざるを得ない。それでもなぜ我々は弁論をするのか、書くのではなく。それは、演壇に立ち、たった一人で聴衆と対峙する、その瞬間の一回性、己の思想を言葉、そして音へと変換する、身体の物質性、コミュニケーションにおいては足かせにすらなり得るこれらの特徴に、どうしようもない愛しさを、抱いてしまうからではないのか。文章は、我々にとって便利すぎる。</p>
            <p class="text-normal">そしてこの、弁論という行為において、不可避的に要求される存在は、聴衆でも、審査員でもなく、今ここで語る己なのだ。だからこそ我々は、なにより他ならぬ自分自身のために、弁論をしなければならない。聴衆や審査員、時勢に阿ったことを言うだけであれば、弁論という非常に不便なメディアに、もはや意味など存在しない。徹頭徹尾己の内より湧き上がる言葉を、己のその身体を通して、どこまでも自分勝手に表現すること、そうした病的ですらある自己本位にこそ、弁論の本義があるのではないのか。そしてその一瞬の持つ、圧倒的なきらめきにこそ、人々は心動かされ、弁士たる我々も魅了されてきたのではないのか。客観的に正しいだけのことなら、大学生らしく論文にでも書いておけば良いのだ。</p>
            <p class="text-normal">演壇に立つとき、弁士はいつも一人である。その孤独の中で、己に向き合い、己の肉体からえぐり取るように言葉を紡ぐ、そのグロテスクな作業に伴う恐怖は、決して誰とも共有され得ない。人々がそこに見るのは、恐怖を乗り越え一人演壇に立った弁士の勇姿だけである。己の全てを賭けて登壇する弁士の勇気を、最大限の賛辞で言祝ぐべく、我々にとってもっともなじみ深い、最愛のクリシェでこの文章を結ぼう。</p>
            <p class="text-normal">全ての弁論に期待する。</p>
            <p class="text-normal" style="text-align: right;">東京大学総長杯争奪全国学生弁論大会　実行委員会</p>
        </div>

        <h4 class="heading-2">弁士紹介</h4>
        <h5 class="heading-3">第一弁士　伊藤 佑太朗(いとう ゆうたろう)</h5>
        <div class="text-block">
            <ul class="list-in-block no-overflow">
                <li>所属: 日本大学法秋雄弁会</li>
                <li>演題: 父を訪ねて三千里</li>
                <li>テーマ: 現代人の托卵問題について</li>
                <li>論旨:<br>
                    SNS等のメディアが発達したことにより可視化されるようになった、意図せずして血の繋がっていない子供を育てさせられる「托卵」。また、医療技術の発展や多様なパートナー関係の確立によって近年注目を集めている「自分がどのようにして生まれたのか」そして「自分の遺伝子ルーツはどこにあるのか」について知る権利である「出自を知る権利」。これらは、お互いに関係性を有していると同時に、法律や倫理観といった面で様々な問題を抱えています。本弁論では「托卵」及び「出自を知る権利」に関して発生する、子供たちの諸問題について、私の分析と解決策を訴えます。
                </li>
            </ul>
        </div>
        <h5 class="heading-3">第二弁士　西村 昇一郎(にしむら しょういちろう)</h5>
        <div class="text-block">
            <ul class="list-in-block no-overflow">
                <li>所属: 早稲田大学雄弁会</li>
                <li>演題: きゃべつ</li>
                <li>テーマ: お金について</li>
                <li>論旨:<br>
                    『きゃべつ』は、私にとってただの緑の食物繊維ではない。ある思い出の詰まった野菜である。『きゃべつ』の思い出から問題意識を抱き、その問題についての解決性に言及した弁論です。
                </li>
            </ul>
        </div>
        <h5 class="heading-3">第三弁士　三木 悠登(みき ゆうと)</h5>
        <div class="text-block">
            <ul class="list-in-block no-overflow">
                <li>所属: 新潟大学弁論部</li>
                <li>演題: 火星より遠い地球</li>
                <li>テーマ: 地学</li>
                <li>論旨:<br>
                    日本において地学は軽視されている。それは、教育と研究の2点において極めて顕著である。教育においては、地学選択を出来る高校や大学の地学科は非常に少なく、地学を勉強出来る機会が少ない。研究においては、研究費補助金が明らかに足らず、研究活動に弊害が生じている。このように、地学は教育と研究の点で軽視されているのである。<br>
                    地学が軽視されているからと言って、地学が不必要というわけではない。地学は、防災、資源開発、地球環境問題などの我々の生活や命に直結する多くの問題に深く関わる、重要な学問である。現状の地学軽視は私たちの命、生活に多大な損失を与えてしまう。我々は自らの住処である地球に目を向けるべきである。
                </li>
            </ul>
        </div>
        <h5 class="heading-3">第四弁士　井出 真広(いで まひろ)</h5>
        <div class="text-block">
            <ul class="list-in-block no-overflow">
                <li>所属: SHH、慶應義塾大学弁論部日吉會</li>
                <li>演題: 未来泥棒</li>
                <li>テーマ: キャンセルカルチャー</li>
                <li>論旨:<br>
                    近年、急速に社会問題化しているキャンセルカルチャー、コールアウトカルチャーは、海外のみならず日本でも東京パラリンピック開会式において猛威を振るいました。本弁論ではまず、日本で実際に起きたキャンセルカルチャーを踏まえ、変容する社会の価値観で裁かれることの是非、とりわけ過去を裁かれることの問題点を再認識していきます。そして、キャンセルカルチャーの存在が、我々の現在、未来までもを奪っていく深刻性を訴え、社会的解決を訴えていきます。
                </li>
            </ul>
        </div>
        <h5 class="heading-3">第五弁士　山﨑 遼介(やまざき りょうすけ)</h5>
        <div class="text-block">
            <ul class="list-in-block no-overflow">
                <li>所属: 法政大学弁論部</li>
                <li>演題: 砂上の楼閣</li>
                <li>テーマ: 持続可能な社会について</li>
                <li>論旨:<br>
                    今日の社会で盛んに口にされる「持続可能な社会」という言葉、皆さんもよく耳にする言葉でしょう。その中の大きな目標の一つとして、気候変動を防ぐために化石燃料を撤廃するという物があります。将来の子孫に今の地球をより良い形で継承するため、再生可能エネルギーやEVなどの技術を推進し、CO2を排出する発電所や自動車等を減らしていこうという取り組みです。子孫のために、世界中手を取り合って気候変動に立ち向かう。素晴らしいことです。私も少し前まではそう考えていました。しかし現実には世界中の国々による協力など画餅にすぎず、実際は利益を最大化することを至上命題とした企業群とそれに追随する先進国が、気候変動という私たちを救う大きな理念・理想歪めているとしたらどうでしょう。本弁論では、こういった状況の根底に何があるのかを分析し、理念・理想により良い形で近づいていくにはどうすれば良いのかについて述べたいと思います。
                </li>
            </ul>
        </div>
        <h5 class="heading-3">第六弁士　林 啓介(はやし けいすけ)</h5>
        <div class="text-block">
            <ul class="list-in-block no-overflow">
                <li>所属: 國學院大學辯論部</li>
                <li>演題: 弱さと武器</li>
                <li>テーマ: 劣等感</li>
                <li>論旨: 誰もが感じている劣等感を捻じ曲げるための弁論</li>
            </ul>
        </div>
        <h5 class="heading-3">第七弁士　古川 真歩(ふるかわ まほ)</h5>
        <div class="text-block">
            <ul class="list-in-block no-overflow">
                <li>所属: 中央大学辞達学会</li>
                <li>演題: 再出発</li>
                <li>テーマ: 出所者の社会復帰</li>
                <li>論旨:<br>
                    罪を犯し、刑務所で罪を償い社会に戻ってきた出所者。しかし現状、彼らは社会に復帰することが難しく、再び罪を犯してしまう悪循環に陥っています。<br>
                    そんな出所者に対し「罪を犯した自分たちのせいだ」と感じる人も少なくないでしょう。しかし本来、出所者の更生とは再び罪を犯さないよう社会復帰を促進するものです。そして彼らが社会復帰するということは、将来的な犯罪の危険から私たちを守ることにもつながります。また、国が定めた更生保護法第1条によると、出所者の社会復帰と自立を助けることは、「社会を保護し、個人及び公共の福祉を増進することを目的とする」としています。本弁論では、出所者の取り巻く現状と、出所者が社会復帰する重要性について訴えていきます。
                </li>
            </ul>
        </div>
        <h5 class="heading-3">第八弁士　阿江 慎一郎(あえ しんいちろう)</h5>
        <div class="text-block">
            <ul class="list-in-block no-overflow">
                <li>所属: 東京大学大学院情報学環</li>
                <li>演題: ルッキズムの限界</li>
                <li>テーマ: ルッキズム</li>
                <li>論旨:<br>
                    「ルッキズム」という言葉が、最近よく聞かれるようになった。その言葉を象徴するように、世間では、ルックスがよい人々が優遇されるような風潮も見受けられる。国際比較から考察しても、特に日本では、ルックスをもとに自分が判断されていると感じている人は多い。この原因は、ジェンダー、文化、出身等における多様性については理解が深まり、他者との違いを尊重してそれを受け入れる価値観が社会で浸透してきた一方で、ルッキズムにおける価値観の共有についてはこれまで見過ごされてきたことにある。<br>
                    多様性が重視され、一人ひとりが尊重される現代社会において、ルッキズムにはどのようなあり方が求められるのだろうか。本弁論では、ミス東大コンテストグランプリ受賞者や東大美女図鑑編集長に、私自身がインタビューした内容を踏まえ、多様性が重視されている現代社会だからこそ、ルックスのよさをその人の魅力の一つとして考える必要性について議論する。
                </li>
            </ul>
        </div>
        <h5 class="heading-3">第九弁士　渡邊 有生斗(わたなべ ゆうと)</h5>
        <div class="text-block">
            <ul class="list-in-block no-overflow">
                <li>所属: 明治大学雄弁部</li>
                <li>演題: 自転車利用規制</li>
                <li>テーマ: 自転車の利用の一部規制</li>
                <li>論旨:<br>
                    毎年、ニュースでは痛ましい交通事故が、必ずと言っていいほど、たびたび取り上げられている。ここ近年では、自動車事故によって、通学中の園児が複数人死亡してしまったという事例もあった。本弁論では交通事故の中でも、基本的には誰でも運転できる乗り物の「自転車」の事故に注目した。自転車は、具体的な利用に関する規則または禁止事項が、ある程度の強制力を持っているとは言えない乗り物であると私は考える。そこで本弁論では、自転車の利用に関して一部規制を設けて、ある程度の強制力を自転車の利用に対して課すことにより、結果として自転車事故の件数減少のきっかけの一つとなることを目的とする。
                </li>
            </ul>
        </div>
        <h5 class="heading-3">第十弁士　六車 梨夏(むぐるま りか)</h5>
        <div class="text-block">
            <ul class="list-in-block no-overflow">
                <li>所属: 第一高等学校・東京大学弁論部</li>
                <li>演題: 欠席者にやさしい社会へ</li>
                <li>テーマ: 主張・発信</li>
                <li>論旨:<br>
                    学校を休みたいのになんとなく休めない。休むことに抵抗がある。学生時代、誰もが一度はそう思ったことがあるであろう。周りからは白い目で見られる気がするし、授業にはついていけなくなるかもしれない。だから多少無理をすることになっても、休まない方が良い。<br>
                    私は、毎日登校することが理想で、休むことは悪いこと、という価値観に縛られた学校生活を送り、休みたいのに休めない日が何度もあった。しかし、休むことは本当に悪いことなのだろうか。欠席という選択肢も尊重されるべきではないだろうか。本弁論では、現状の学校の出欠制度に疑問を投げかけ、欠席者にやさしい社会の実現に向けた出欠制度の改革について論じる。
                </li>
            </ul>
        </div>
    </main>
<%- include("../component/_footer.ejs",{id:"event",depth:1}) %>