<%- include("../component/_header.ejs",{
    id: "about",
    depth: 1,
    title: "2020年度オンライン新歓資料 | ディベート | 第一高等学校・東京大学弁論部",
    ogTitle: "2020年度オンライン新歓資料 | ディベート | 第一高等学校・東京大学弁論部",
    ogURL: "utbenron.com/debate/2020_online-welcome-event_materials",
    description: "2020年度の新歓ディベートで用いた資料を本ページで公開しています。",
    ogDescription: "2020年度の新歓ディベートで用いた資料を本ページで公開しています。",
    ogImgURL: "https://utbenron.com/assets/image/logo/icon.png",
    twitterCardType: "summary"
}); -%>
    <main id="main" class="no-top">
        <h3 class="heading-1">新歓ディベート資料</h3>
        <div class="text-block">
            <p class="text-normal">2020年度のオンライン新歓で用いた資料を公開いたします。</p>
            <p class="text-normal"><a class="text-link" href="https://drive.google.com/drive/folders/1Q2mnSTBpWfcBRIW3Eur6Mp_66wh8QyPA?usp=sharing" target="_blank" rel="noopener noreferrer">こちらのGoogle driveのフォルダ</a>に全ての資料をupしてあります。内容は以下の3点です。</p>
            <ul class="list-in-block">
                <li>モデルディベート(計3回)</li>
                <li>ITBディベート入門講座</li>
                <li>ディベート学習教材集</li>
            </ul>
            <p class="text-normal">「ITBディベート入門講座」の講座スライドは本ページでも見られます。また、ディベート学習教材集は<a class="text-link" href="learning-materials-for-debaters">こちらのページ</a>にも掲載してあります。</p>
        </div>

        <h3 class="heading-1">ITBディベート入門講座(1)</h3>
        <div class="text-block">
            <p class="text-normal">ディベートの基本(ルール・3要素など)について解説しています。</p>
            <div class="google-slide-in-block">
                <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRrAB0KvnCU4VLD8qAKmHQedy8jN9NYz9zRPQR8dG0Gw1hrHyz8WGQRs2HWBhW5gE1VxMHgIbfkRX30/embed?start=false&loop=true&delayms=2000" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
            </div>
        </div>

        <h3 class="heading-1">ITBディベート入門講座(2)</h3>
        <div class="text-block">
            <p class="text-normal">実際の試合動画を視聴して、フローの取り方の練習を確認したり、試合において議論を展開させていく様子を実際に追体験したりと、実践面に重きを置いた講座でした(フローの例は<a class="text-link" href="https://drive.google.com/file/d/1MV6cLfCxw6zADpLEgnkfaJGdeJrAzDF7/view?usp=sharing"  target="_blank" rel="noopener noreferrer">こちら</a>)。</p>
            <p class="text-normal">題材としては<a class="text-link" href="https://youtu.be/nY24JVLlXfw?t=336" target="_blank" rel="noopener noreferrer">2018年度ディベート甲子園中学の部決勝戦(開成中vs出水中)</a>を使わせて頂きました。なお、試合中に登場する統計・データ分析に関する知識についても補足してあります。</p>
            <div class="google-slide-in-block">
                <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSZXCgTtjpz5Q6BO75Uo8jJuL12i5AFOOHMUWfZ_nOnVZkYL7r5mS7qsy1f4BNb-1YBqhaTwz6DVLyR/embed?start=false&loop=false&delayms=2000" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
            </div>
        </div>
        
        <h3 class="heading-1">ITBディベート入門講座(3)</h3>
        <div class="text-block">
            <p class="text-normal">調査型ディベートに焦点をあてた解説です。「どのように資料を集めるか」「どのように原稿を作ればよいのか」といった、初心者がつまづきがちなポイントに重点を置いています。</p>
            <div class="google-slide-in-block">
                <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTSteals_XcPl8p48fo-PngER4M2ZfRgF4XL393Chrbz_i6Y6np2JrwriFJJq3H5WIy-NcPj3glfX9U/embed?start=false&loop=false&delayms=2000" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
            </div>
        </div>
        
        <h3 class="heading-1">ITBディベート中級講座(1)</h3>
        <div class="text-block">
            <p class="text-normal">主に二回立論形式のディベートを始める方に向けた解説です。ディベート入門講座では扱わなかった、「3要素以外の論点」「論題充当性」「カウンタープラン」といった重要ポイントも扱っています。</p>
            <div class="google-slide-in-block">
                <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQXwR2AQECufyl2LUZvWv5OSgMWo5uAyGXmxgm-PkugoMPG2Uq0FAMvSVNhtrreXyduXL3CzCNCH3aK/embed?start=false&loop=false&delayms=2000" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
            </div>
        </div>
    </main>
<%- include("../component/_footer.ejs",{id:"about",depth:1}) %>