<%- include("../component/_header.ejs",{
    id: "about",
    depth: 1,
    enableLoading: "debate-material",
    title: "ディベート学習教材集 | ディベート | 第一高等学校・東京大学弁論部",
    ogTitle: "ディベート学習教材集 | ディベート | 第一高等学校・東京大学弁論部",
    ogURL: "utbenron.com/debate/learning-materials-for-debaters",
    description: "競技ディベートを学ぶための様々な資料をまとめてあります。初心者の方から上級者の方まで、幅広い方向けの資料を集めました。",
    ogDescription: "競技ディベートを学ぶための様々な資料をまとめてあります。初心者の方から上級者の方まで、幅広い方向けの資料を集めました。",
    ogImgURL: "https://utbenron.com/assets/image/debate-material.jpg",
    twitterCardType: "summary_large_image"
}); -%>
    <main id="main">
        <div id="subpage-top">
            <div id="subpage-top__title">
                <h2 id="subpage-top__title-text" class="is-small">ディベート学習教材集</h2>
            </div>
            <img id="subpage-top__img" src="../assets/image/debate-material.jpg" alt="">
            <div id="subpage-top__down">scroll</div>
        </div>

        <div class="main-lev1 no-title">
            <div class="main-lev1__content">
            <p>新入生向けに部内で作成したディベート学習用の教材集を、こちらで公開いたします。内容は大学生向けですが、それ以外の方にも参考になる部分が多いかと思います。</p>
            <p>正確性には万全を期しましたが、個人で作成したもののため間違いがある可能性があります。また、出来る限り幅広く資料を集めるように尽力しましたが、漏れなどがあるかもしれません。ご了承ください。</p>
            <p>なお、それぞれのタイトルについている[～]は、対象層を示しています。何を以て初級者・中級者・上級者の定義とするかは難しいですが、なんとなくで付けているので参考程度にして下さい。</p>
            </div>
        </div>
        <div class="main-lev1">
            <h3 class="main-lev1__header">1.ネット上の資料・教材</h3>
            <div class="main-lev1__content">
                <div class="main-lev2">
                    <h4 class="main-lev2__header">ひげねこ教授シリーズ [初級者]</h4>
                    <div class="main-lev2__content">
                        <p><a href="https://www.debateclubtama.club/dl-3">[資料のページはこちら]</a></p>
                        <p>一般向けのディベートクラブ「たま。」さんによる、ディベートの解説資料です。フローの取り方や、議論の作り方についての解説も載っています。やや発展的ですが、二回立論形式についても解説があります。</p>
                        <p>具体例を豊富に用いた非常にわかりやすい解説なので、ディベートについてまだよく分からない方は、まずこの資料から読んでみることをお勧めします。</p>
                    </div>
                </div>

                <div class="main-lev2">
                    <h4 class="main-lev2__header">CoDA ディベート入門資料 [初級者]</h4>
                    <div class="main-lev2__content">
                        <p><a href="https://www.coda.or.jp/match/教材・コンテンツ/">[資料のページはこちら]</a></p>
                        <p>大学生向けのディベート大会を開催している全日本ディベート連盟(通称CoDA)による、初心者向けのディベート解説資料です。全くの初心者であっても、これを読めば大会に出られる形にまでは持っていける、というくらい丁寧な解説で、ディベートを始めたての方必見です。</p>
                        <p>また、このCoDA公式サイトの<a href="">特集記事</a>では、ディベート初心者向けにいくつか記事が掲載されています。「ディベートをどのように楽しむか」等のディベート紹介的な記事もありますので、読んでみると面白いと思います。</p>
                    </div>
                </div>

                <div class="main-lev2">
                    <h4 class="main-lev2__header">競技ディベートマニュアル [初級者～上級者]</h4>
                    <div class="main-lev2__content">
                        <p><a href="http://lawtension.blog99.fc2.com/blog-entry-203.html">[資料のページはこちら]</a></p>
                        <p>選手・ジャッジともにディベート経験の豊富な社会人の方が、自主的に執筆された入門書(現在、新型コロナウイルス感染症対策でディベート大会が減ってしまっている状況から、無料でpdf版を公開してくださっています)。</p>
                        <p>ディベートのルール、フローの取り方や議論の組み立て方といった初歩的な内容から、二立形式やカウンタープラン、ジャッジングの基礎といった発展的内容まで、広く深く説明がなされています。やや長めではありますが、目次を見て興味がわいたところから目を通していく、といった感じで読んでみると良いかと思います。</p>
                        <p>※ちなみに、この方はその他にもディベート解説教材などを公開されています。<a href="http://lawtension.blog99.fc2.com/blog-entry-156.html">こちらの記事</a>から、以下の共有フォルダへのリンクを引用させていただきます。</p>
                        <p><a href="https://onedrive.live.com/?id=B6ECE95D19238C39!119&cid=B6ECE95D19238C39">[ディベート教材(OneDrive)]</a></p>
                    </div>
                </div>

                <div class="main-lev2">
                    <h4 class="main-lev2__header">ディベート甲子園スタートブック [初級者]</h4>
                    <div class="main-lev2__content">
                        <p><a href="http://nade.jp/material/beginners/startbook">[資料のページはこちら]</a></p>
                        <p>中高生向けのディベート大会「ディベート甲子園」を開催している、全国教室ディベート連盟(通称NADE)による、ディベート甲子園に出場したい学生向けに書かれた入門書です。</p>
                        <p>大学生の皆さんにはやや当てはまらない部分(ルールや議論の形式など)はありますが、論題が発表されてからどのように議論を考えていけばよいのか、などを具体例に即して説明してあり、参考になることは間違いありません。</p>
                    </div>
                </div>


                <div class="main-lev2">
                    <h4 class="main-lev2__header">反駁の方法 [初級者～中級者]</h4>
                    <div class="main-lev2__content">
                        <p><a href="http://www13.big.or.jp/~yokayama/debate/thesis/rebuttal.files/hanbaku.pdf">[資料のページはこちら]</a></p>
                        <p>主に反駁について説明した教材で、各パートごとの役割の解説や、反駁を考える切り口などが詳細に解説してあります。冒頭には中級者向けとは書いてありますが、ディベートに軽く触れたが反駁で何を言えばいいのか思いつかない、という感覚になった初心者の方にもぜひ読んでいただきたいです。</p>
                    </div>
                </div>

                <div class="main-lev2">
                    <h4 class="main-lev2__header">NADE会報「トライアングル」 [初級者～中級者]</h4>
                    <div class="main-lev2__content">
                        <p><a href="http://nade.jp/material/triangle/backnumber">[資料のページはこちら]</a></p>
                        <p>先程と同様NADEによる教材ですが、パラダイム、論題充当性などのやや発展的な内容に触れているのが特徴です。初心者から中級者へのステップアップにもってこいの教材だと思います。</p>
                    </div>
                </div>

                <div class="main-lev2">
                    <h4 class="main-lev2__header">SDS団(初心者のディベーターを救う団) [中級者～上級者]</h4>
                    <div class="main-lev2__content">
                        <p><a href="http://sdsdann.web.fc2.com/index.html">[資料のページはこちら]</a></p>
                        <p>先程挙げた『競技ディベートマニュアル』を出版された方が過去に運営していたサイトです。最近は更新がされていないのと、Yahooブリーフケースのサービスが終了しているため一部コンテンツは現在見られないことの2点に注意が必要です。</p>
                        <p>内容としては多岐に渡り、どちらかというと中級者～上級者の方がディベートの初歩を復習し直したり改めて考えたりする目的で活用するのが良いかと思います。</p>
                    </div>
                </div>

                <div class="main-lev2">
                    <h4 class="main-lev2__header">Falcons Library [初級者～上級者]</h4>
                    <div class="main-lev2__content">
                        <p><a href="http://falcons.misudo.com">[資料のページはこちら]</a></p>
                        <p>日本の英語ディベートサークルによるサイトで、Downloadのところから資料が見られます。日本語ディベートにおいても十分参考になります。なおリンク切れ等もあるので要注意です。</p>
                        <p>このサークルが新入生向けに書いていた資料が<a href="http://misudo.com/manual03.pdf">こちら</a>です。用語などはやや日本のディベートと異なりますが、考え方は参考になります。</p>
                        <p>中級者以上の方へのお勧めは、論題充当性などの背景知識からカウンタープランを掘り下げた資料<a href="http://falcons.misudo.com/download/nagao_cp">『Counterplan』</a>です。ディベートセオリーに関わる話が多いのでちょっと読むのは大変ですが、興味深い内容だと思います。</p>
                    </div>
                </div>            
            </div>
        </div>

        <div class="main-lev1">
            <h3 class="main-lev1__header">2.実際の試合の記録</h3>
            <div class="main-lev1__content">
                <div class="main-lev2">
                    <h4 class="main-lev2__header">ディベート甲子園 (映像)</h4>
                    <div class="main-lev2__content">
                        <p><a href="https://www.youtube.com/user/dkoshien/videos">[資料のページはこちら]</a></p>
                        <p>中高生向けのディベート大会「ディベート甲子園」の全国大会のアーカイブ動画です(一部の試合のみ)。スピーチは早いものが多いですが、全国大会ということで質の高い議論が展開されており、雰囲気をつかむうえでは参考になると思います。フローの練習にオススメです。</p>
                        <p>どれを見ればよいか迷う場合は、まず<a href="https://youtu.be/nY24JVLlXfw?t=336">2018年度中学の部決勝戦(開成中vs出水中)</a>を閲覧してみると良いと思います。</p>
                    </div>
                </div>

                <div class="main-lev2">
                    <h4 class="main-lev2__header">JDA (文章, 音声, 映像)</h4>
                    <div class="main-lev2__content">
                        <p><a href="http://japan-debate-association.org/contest/history">[資料のページはこちら]</a></p>
                        <p>日本ディベート協会(通称JDA)により、日本最大規模の日本語ディベートの大会が毎年(主に春/秋)開催されています。こちらはその決勝戦等のスピーチを書き起こしたトランスクリプト集です。音声・映像の残っているものもあります。</p>
                        <p>学生のみならず社会人も多く出場する大会で、洗練されたレベルの高い議論が見られます。二立形式の雰囲気をつかむのにも良いかと思います。</p>
                        <p>どれを見ればよいか迷う場合のお勧めをリスト化しておきます(編集者も全部読んだわけではないので、選定は雑です、すいません)。</p>
                        <div class="main-lev3">
                            <h5 class="main-lev3__header">2014年秋季大会</h5>
                            <div class="main-lev3__content">
                                <p><a href="http://japan-debate-association.org/wp-content/uploads/2015/12/f17ts.pdf">[リンクはこちら]</a></p>
                                <p>論題は「日本は積極的安楽死を合法化すべきである」です。最初に読むJDAのトランスクリプトとして、初心者にもお勧めできる試合です。肯否双方が議論を上手く展開しており、二回立論形式を始めるうえで参考になります。</p>
                            </div>
                        </div>
                        <div class="main-lev3">
                            <h5 class="main-lev3__header">2016年九州大会</h5>
                            <div class="main-lev3__content">
                                <p><a href="http://japan-debate-association.org/wp-content/uploads/2015/12/f17ts.pdf">[リンクはこちら]</a></p>
                                <p>論題は「日本は一般的国民投票制度を導入すべきである」です。編集者が個人的に最も素晴らしいと思う試合です。密度の高い議論、お互いの論点を把握しつくしたうえでのQ/A、驚異的なまでの先読みの上での反駁の応酬など、類を見ない質の高さを誇る試合です。</p>
                                <p>ちなみに、スピーチ速度はかなりのものなので、フローの良い練習にもなります。この試合のフローが取れれば怖いものはないと思います。また、議論の密度・精度が非常に高いので、ジャッジングの練習にもなります。</p>
                            </div>
                        </div>
                        <div class="main-lev3">
                            <h5 class="main-lev3__header">2017年秋季大会</h5>
                            <div class="main-lev3__content">
                                <p><a href="http://japan-debate-association.org/wp-content/uploads/2018/03/F20_SF2_TS.pdf">[リンクはこちら]</a></p>
                                <p>それまで日本ではあまり見られなかった「クリティーク」という議論が否定側から展開されています。上級者向けではありますが、参考になるかと思います(クリティークについては、後述するブログ『東京、姉と二人暮らし』などが詳しいです)。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-lev1">
            <h3 class="main-lev1__header">3.ディベート関連のブログ</h3>
            <div class="main-lev1__content">
                <p>ブログと言うと、なんだかディベート教材とはかけ離れた感じがしてしまうかもしれませんが、実際は経験のあるディベーターたちが自身の試合の参戦記、試合原稿、セオリーに関する論考など様々な話題を展開しており、折に触れて読むと参考になります。</p>
                <p>編集者自身あまりディベート界事情に明るくないので、ここに載っているブログはほんの一部に過ぎないということをお断りしておきます。また、掲載しているのは主に日本語ディベート関連のブログです。</p>
                <p class="no-indent"><a href="http://blog.livedoor.jp/geniocrat/">・Tabula Rasa (資料集,試合原稿,論考,トランスクリプト)</a></p>
                <p class="no-indent"><a href="http://lawtension.blog99.fc2.com">・愚留米の入院日記 (論考, ディベート解説)</a></p>
                <p class="no-indent"><a href="http://blog.livedoor.jp/nagasakiwestai/">・色々綴る雑記帳 (論考, ディベート解説)</a></p>
                <p class="no-indent"><a href="http://debatecat.blog.fc2.com">・のーきゃっと　のーらいふ (論考, 試合分析)</a></p>
                <p class="no-indent"><a href="http://zack3939.blog.fc2.com">・ざくざく (論考, 試合分析)</a></p>
                <p class="no-indent"><a href="https://ameblo.jp/canalun/">・東京、姉と二人暮らし (論考, セオリー解説)</a></p>
                <p class="no-indent"><a href="https://note.com/art_of_argument">・Art of Argument (体験記, 議論教育などをテーマに様々な方が寄稿するディベートメディア)</a></p>
                <p class="no-indent"><a href="http://debatejiyucho.blogspot.com">・ディベート自由帳 (論考, ディベート解説)</a></p>
            </div>
        </div>


        <div class="main-lev1">
            <h3 class="main-lev1__header">4.ディベート関連の書籍など</h3>
            <div class="main-lev1__content">
                <div class="main-lev2">
                    <h4 class="main-lev2__header">『武器としての決断思考』</h4>
                    <div class="main-lev2__content">
                        <p><a href="https://www.seikaisha.co.jp/information/2011/09/20-post-38.html">[出版社のページはこちら]</a></p>
                        <p>故瀧本哲史氏の有名な新書です。ディベートについて学ぶというよりは、それを意思決定にどう役立てていくべきかを学ぶ上で参考になります。</p>
                    </div>
                </div>

                <div class="main-lev2">
                    <h4 class="main-lev2__header">全国教室ディベート連盟 推薦図書館</h4>
                    <div class="main-lev2__content">
                        <p><a href="http://nade.jp/material/recommend_books">[資料のページはこちら]</a></p>
                        <p>新型コロナウイルス感染拡大を受けて2020年度ディベート甲子園が中止になってしまったことから、特別企画として開設されたページです。ディベートに関連した書籍から、過去にディベート甲子園で論題になった話題に関する書籍まで、様々なものが挙げられています。</p>
                    </div>
                </div>

                <div class="main-lev2">
                    <h4 class="main-lev2__header">『ネコと学ぶディベートの本』</h4>
                    <div class="main-lev2__content">
                        <p><a href="https://www.amazon.co.jp/gp/product/490711740X/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=490711740X&linkCode=as2&tag=ootsuki914-22&linkId=6fde470f5e9bc070d2fd30b51d260659">[販売ページはこちら]</a></p>
                        <p>冒頭にも登場した「たま。」の主宰の方が出版された入門書です。並列したシリーズで<a href="https://www.amazon.co.jp/gp/product/4815001324/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=4815001324&linkCode=as2&tag=ootsuki914-22&linkId=31fdf10327abb0c62ccfd13b28c57d9e">トレーニング用の演習書</a>も出ています</p>
                    </div>
                </div>

                <div class="main-lev2">
                    <h4 class="main-lev2__header">『STRAWBERRY FIELDS』</h4>
                    <div class="main-lev2__content">
                        <p><a href="https://twitter.com/takeyabu_d">[公式Twitterはこちら]</a></p>
                        <p>「ディベート界に鋭く切り込む出版サークル(予定)。」の竹藪会さんが出版している同人誌です。既刊が4巻まであります。</p>
                        <p>試合についての論考から、大会参戦記、実証分析、小説、自叙伝まで幅広いタイプの文章が掲載されています。コミケに行くと買えます。</p>
                    </div>
                </div>
            </div>
        </div>

    </main>
<%- include("../component/_footer.ejs",{id:"about",depth:1}) %>