<%- include("../component/_header.ejs",{
    id: "about",
    depth: 1,
    enableLoading: "about",
    title: "活動概要 | 第一高等学校・東京大学弁論部",
    ogTitle: "活動概要 | 第一高等学校・東京大学弁論部",
    ogURL: "utbenron.com/about/",
    description: "第一高等学校・東京大学弁論部の活動内容をご紹介します。",
    ogDescription: "第一高等学校・東京大学弁論部の活動内容をご紹介します。",
    ogImgURL: "https://utbenron.com/assets/image/about.jpg", //変更予定
    twitterCardType: "summary"
}); -%>
    <main id="main">
        <div id="subpage-top">
            <div id="subpage-top__title">
                <h2 id="subpage-top__title-text">活動概要</h2>
            </div>
            <img id="subpage-top__img" src="../assets/image/about.jpg" alt="">
            <div id="subpage-top__down">scroll</div>
        </div>
        <div class="main-lev1">
            <h3 class="main-lev1__header">東大弁論部とは</h3>
            <div class="main-lev1__content">
                <p>私たち、「第一高等学校・東京大学弁論部」(通称: 東大弁論部 / ITB)は、主に<span class="is-emphasized">弁論</span>と<span class="is-emphasized">ディベート</span>を活動内容とする法学部公認サークルです。これら2つの活動を通して、「自分の考えを論理的に伝える力」を日々鍛えています。</p>
                <p>また、不定期で<span class="is-emphasized">読書会</span>を行い、さまざまな分野に関する知見を深めています。</p>
            </div>
        </div>

        <div class="main-lev1">
            <h3 class="main-lev1__header">活動内容</h3>
            <div class="main-lev1__content">
                <div class="main-lev2">
                    <h4 class="main-lev2__header">弁論</h4>
                    <div class="main-lev2__content">
                        <p>弁論とは、自説を言葉によって聴衆に伝え、説得を試みる活動です。テーマは基本的に自由に選ぶことができ、社会問題から身近なテーマにいたるまで、様々なテーマが扱われます。</p>
                        <p>弁論を行う「弁士」だけでなく聴衆も、弁士に対して「野次」を飛ばしたり、質疑を行ったりすることで、弁論の営みに参加することができます。弁論大会では、このような弁士と聴衆の双方向的な関わりの中で、様々な主張が展開されていきます。</p>
                    </div>
                    <div class="main__more"><a href="benron"></a>弁論について詳しく知る</div>
                </div>
                <div class="main-lev2">
                    <h4 class="main-lev2__header">ディベート</h4>
                    <div class="main-lev2__content">
                        <p>ディベートとは、あるテーマについて、賛成する側・反対する側の2つに別れて討論を行う競技です。第三者である「ジャッジ」が試合の判定を下すことが特徴です。</p>
                        <p>過去に扱われたテーマには「死刑廃止」「安楽死合法化」「消費増税」などの賛否両論ある社会的な問題が多くあり、時には専門的な文献にもあたりながら綿密に議論を組み立てていきます。</p>
                    </div>
                    <div class="main__more"><a href="debate"></a>ディベートについて詳しく知る</div>
                </div>
                <div class="main-lev2">
                    <h4 class="main-lev2__header">読書会など</h4>
                    <div class="main-lev2__content">
                        <p>何かを「伝える」ことが意義を持つためには、伝える内容が深い知識に支えられていなければなりません。東大弁論部では上記の2つの競技のほか、読書会などの各種部会による活動を通じて古代の名著から最新の学術書まで、さまざまな書物を読み、議論し、理解を深める活動を行っています。</p>
                    </div>
                    <div class="main__more"><a href="reading"></a>読書会について詳しく知る</div>
                </div>
                <div class="main-lev2">
                    <h4 class="main-lev2__header">その他の活動</h4>
                    <div class="main-lev2__content">
                        <p>各種大会に出場するほか、長期休みには合宿を行い、部員間の親睦を深めています。</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-lev1">
            <h3 class="main-lev1__header">活動情報</h3>
            <div class="main-lev1__content">
                <div class="main-lev2">
                    <h4 class="main-lev2__header">日程・場所</h4>
                    <div class="main-lev2__content">
                        <p>定期的な活動は以下のスケジュールで行っています。不定期の活動(読書会・大会出場など)については、その都度部内で連絡いたします。</p>
                        <ul class="main__list">
                            <li class="main__list-item">日程：月曜・金曜</li>
                            <li class="main__list-item">時間：5時限目終了後 (18時半ごろ)</li>
                            <li class="main__list-item">場所：駒場キャンパス5号館</li>
                        </ul>
                    </div>
                </div>
                <div class="main-lev2">
                    <h4 class="main-lev2__header">部室</h4>
                    <div class="main-lev2__content">
                        <p>活動の拠点として、東大弁論部は2つの部室を持っています。お気軽にお訪ねください。</p>
                        <ul class="main__list">
                            <li class="main__list-item">駒場：キャンパスプラザB棟 B315</li>
                            <li class="main__list-item">本郷：法文1号館 第8学生室</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
<%- include("../component/_footer.ejs",{id:"about",depth:1}) %>