<%- include("../component/_header.ejs",{
    id: "about",
    depth: 1,
    enableLoading: "about",
    title: "活動概要 | 第一高等学校・東京大学弁論部",
    ogTitle: "活動概要 | 第一高等学校・東京大学弁論部",
    ogURL: "utbenron.com/about/",
    description: "第一高等学校・東京大学弁論部の活動内容をご紹介します。",
    ogDescription: "第一高等学校・東京大学弁論部の活動内容をご紹介します。",
    ogImgURL: "https://utbenron.com/assets/image/about.jpg", //変更予定
    twitterCardType: "summary"
}); -%>
    <main id="main">
        <div id="subpage-top">
            <div id="subpage-top__title">
                <h2 id="subpage-top__title-text">活動概要</h2>
            </div>
            <img id="subpage-top__img" src="../assets/image/about.jpg" alt="">
            <div id="subpage-top__down">scroll</div>
        </div>

        <h3 class="heading-1">東大弁論部とは</h3>
        <div class="text-block">
            <p class="text-normal">私たち「第一高等学校・東京大学弁論部」は、主に<span class="highlight">弁論</span>と<span class="highlight">ディベート</span>を活動内容とする法学部公認サークルです。これら2つの活動を通して、「自分の考えを論理的に伝える力」を日々鍛えています。</p>
            <p class="text-normal">また、不定期で<span class="highlight">読書会</span>を行い、さまざまな分野に関する知見を深めています。</p>
        </div>

        <h3 class="heading-1">活動内容</h3>
        <h4 class="heading-2">弁論</h4>
        <div class="text-block">
            <p class="text-normal">弁論とは、<span class="highlight">言葉によって自分の意見を聴衆に伝え、説得を試みる活動</span>です。テーマは基本的に自由に選ぶことができ、社会問題から身近なテーマにいたるまで、様々なテーマが扱われます。</p>
            <p class="text-normal">弁論を行う「弁士」だけでなく聴衆も、弁士に対して野次を飛ばしたり、質疑を行ったりすることで、弁論の営みに参加することができます。弁論大会では、このような<span class="highlight">弁士と聴衆の双方向的な関わり</span>の中で、様々な主張が展開されていきます。</p>
            <p class="text-normal text-right"><a class="text-link is-emphasized" href="benron">→ 弁論について詳しく見る</a></p>
        </div>

        <h4 class="heading-2">ディベート</h4>
        <div class="text-block">
            <p class="text-normal">ディベートとは、<span class="highlight">あるテーマについて、賛成する側・反対する側の2つに別れて討論を行う活動</span>です。第三者である「ジャッジ」が試合の判定を下すことが特徴です。</p>
            <p class="text-normal">過去に扱われたテーマには「死刑廃止」「安楽死合法化」「消費税引き上げ」などの<span class="highlight">賛否両論ある社会的な問題</span>が多くあり、時には専門的な文献も参照しながら論戦が繰り広げられます。</p>
            <p class="text-normal text-right"><a class="text-link is-emphasized" href="debate">→ ディベートについて詳しく見る</a></p>
        </div>

        <h4 class="heading-2">読書会</h4>
        <div class="text-block">
            <p class="text-normal">何かを説得的に伝えるためには、深い背景知識を持っているに越したことはありません。東大弁論部では上記の2つの活動のほか、読書会などの各種部会による活動を通じて、<span class="highlight">古代の名著から最新の学術書まで様々な書物を読み、議論し、理解を深める活動</span>を行っています。</p>
            <p class="text-normal text-right"><a class="text-link is-emphasized" href="reading">→ 読書会について詳しく見る</a></p>
        </div>

        <h4 class="heading-2">その他の活動</h4>
        <div class="text-block">
            <p class="text-normal">各種大会に出場するほか、長期休みには合宿を行い、部員間の親睦を深めています。</p>
        </div>

        <h3 class="heading-1">活動情報</h3>
        <h4 class="heading-2">日程・場所</h4>
        <div class="text-block">    
            <p class="text-normal">定期的な活動は以下のスケジュールで行っています。不定期の活動(読書会・大会出場など)については、その都度部内で連絡いたします。</p>
            <ul class="list-in-block">
                <li>日程：月曜・金曜</li>
                <li>時間：5時限目終了後 (18時半ごろ)</li>
                <li>場所：駒場キャンパス5号館</li>
            </ul>
        </div>

        <h4 class="heading-2">部室</h4>
        <div class="text-block">
            <p class="text-normal">活動の拠点として、東大弁論部は2つの部室を持っています。お気軽にお訪ねください。</p>
            <ul class="list-in-block">
                <li>駒場：キャンパスプラザB棟 B315</li>
                <li>本郷：法文1号館 第8学生室</li>
            </ul>
        </div>
    </main>
<%- include("../component/_footer.ejs",{id:"about",depth:1}) %>