<%- include("../component/_header.ejs",{
    id: "about",
    depth: 1,
    enableLoading: "about-benron",
    title: "活動概要 | 読書会 | 第一高等学校・東京大学弁論部",
    ogTitle: "活動概要 | 読書会 | 第一高等学校・東京大学弁論部",
    ogURL: "utbenron.com/about/reading",
    description: "弊部の活動内容の一つである「読書会」に関してご説明します。",
    ogDescription: "弊部の活動内容の一つである「読書会」に関してご説明します。",
    ogImgURL: "https://utbenron.com/assets/image/reading.jpg", //変更予定
    twitterCardType: "summary_large_image"
}); -%>
    <main id="main">
        <div id="subpage-top">
            <div id="subpage-top__title">
                <h2 id="subpage-top__title-text">読書会</h2>
            </div>
            <img id="subpage-top__img" src="../assets/image/reading.jpg" alt="">
            <div id="subpage-top__down">scroll</div>
        </div>
        <div class="main-lev1">
            <h3 class="main-lev1__header">読書会の概要</h3>
            <div class="main-lev1__content">
                <p>読書会では、ある分野について興味を持った部員同士で集まって、その内容に関する論文や書籍を読んだり、更にそれについて議論を行ったりしています。</p>
                <p>いわば、弁論やディベートといった競技としての議論からは一線を画した、学問としての議論を追求する場であり、部員自身が主宰も務めて自主的に開くゼミのようなものです。</p>
            </div>
        </div>
        <div class="main-lev1">
            <h3 class="main-lev1__header">読書会の魅力</h3>
            <div class="main-lev1__content">
                <p>読書会の第一の魅力は活動範囲の広さです。弊部は法学部公認サークルであることから、法学や政治関連の読書会ばかりとの印象を抱かれることもあるかもしれませんが、実際はその読書会の内容は文学や歴史、哲学、さらには美術や映画など、非常に多岐にわたるものです。さらに、読書会という言葉からは、文献を読むというイメージが先行しがちかと思われますが、美術館に行って美術鑑賞をする、演劇を実際に観にいく、町を実際に歩いて都市開発について考えるなど、その活動の範囲も多岐にわたります。</p>
                <p>二つ目の魅力は全ての部員が読書会を開くことができるということです。自分で読書会を開くことにより、自分の関心について共に学ぶ同士を見つけることや、ついつい積んでしまった本を最後まで読み切り、レジュメとしてまとめるための外的な圧力をかけてもらうことなど、読書会は学問を探究したいと思った時に、非常に大きな助けになります。</p>
                <p>最後に、自分の関心が広がるという魅力もあります。自分の専門ではなくても、なんとなく興味が湧いた部会にふらっと参加することで、普通に過ごしていたら絶対に出会わなかったであろう領域について、知るきっかけを得ることができるという点でも読書会は非常に魅力的です。</p>
            </div>
        </div>
    </main>
<%- include("../component/_footer.ejs",{id:"about",depth:1}) %>