<%- include("../component/_header.ejs",{
    id: "join",
    depth: 1,
    title: "2020年度新歓情報 | 第一高等学校・東京大学弁論部",
    ogTitle: "2020年度新歓情報 | 第一高等学校・東京大学弁論部",
    ogURL: "utbenron.com/dev/join/2020",
    description: "弊部に入部を希望される方向けの情報を掲載しています。",
    ogDescription: "弊部に入部を希望される方向けの情報を掲載しています。",
    ogImgURL: "https://utbenron.com/assets/image/logo/logo-small.png",
    twitterCardType: "summary"
}); %>
    <main id="main" class="no-top">
        
        <div class="main-lev1">
            <h3 class="main-lev1__heading">新歓企画終了のお知らせ</h3>
            <div class="main-lev1__content">
                <p>今年度の新歓企画は既に終了いたしました。入部受付は随時受け付けておりますので、<a href="./">こちら</a>をご覧ください</p>
            </div>
        </div>
        <div class="main-lev1">
            <h3 class="main-lev1__heading">【重要】新歓企画の変更</h3>
            <div class="main-lev1__content">
                <p>[最終更新: 2020/04/10, 19:00]<br><span class="is-emphasized">最新の情報は公式Twitter・公式LINEをご確認ください。</span></p>
                <p>新型コロナウイルス感染症拡大防止のため、今年度の東京大学における新歓活動は大幅に制限されることとなりました。</p>
                <p>つきましては、教養学部及びオリエンテーション委員会の決定に基づき、以下のように弊部の新歓活動予定を変更します。</p>
                <ul class="main__list">
                    <li class="main__list-item">サーオリ：中止→独自のオンライン新歓を実施します</li>
                    <li class="main__list-item">新歓部会(弁論)：オンライン化</li>
                    <li class="main__list-item">新歓部会(ディベート)：オンライン化</li>
                    <li class="main__list-item">新歓部会(読書会)：オンライン化</li>
                    <li class="main__list-item">新歓合宿：中止</li>
                    <li class="main__list-item">OB訪問：中止</li>
                </ul>
                <p>中止となった企画の代替となるような企画は現在検討中です。最新情報をお待ちください。</p>
            </div>
        </div>
        <div class="main-lev1">
            <h3 class="main-lev1__heading">新歓部会の詳細[最新版]</h3>
            <div class="main-lev1__content">
                <p>新歓部会では、各回で行う内容が異なっています。お間違いのないようご注意ください。</p>
                <div class="main-lev2">
                    <h4 class="main-lev2__heading">弁論 (4/10,13,24)</h4>
                    <div class="main-lev2__content">
                        <p>過去の大会で優秀な成績を収めた弁士が、実際に弁論を披露いたします。</p>
                        <p>部会はzoomを用いて行います。詳細は<a href="https://docs.google.com/document/d/1qx-5CuxTE0tiMO3qw2Nl6TxN6-hCEWfHP5fyyznYsBk/edit" style="text-decoration: underline;">こちら</a>からご覧ください。</p>
                        <p>【日程】</p>
                        <p>〇4/10</p>
                        <p>・「日本語が読めない人々」（テーマ：小中学校の日本語教育）</p>
                        <p>・「共感の限界」（テーマ：説得における共感と論理の利用）</p>
                        <p>〇4/13</p>
                        <p>・「棄権の価値」（テーマ：選挙における政治不信の意思表明）</p>
                        <p>・「理想社会へ」（テーマ：政治的議論への当事者意識）</p>
                        <p>〇4/24</p>
                        <p>・「再スタート」（テーマ：犯罪者の更生）</p>
                        <p>・「無批判な批判者」（テーマ：批判の持つ影響力）</p>
                    </div>
                </div>
                <div class="main-lev2">
                    <h4 class="main-lev2__heading">ディベート (4/6,17,20)</h4>
                    <div class="main-lev2__content">
                        <p>過去に実際に扱われた論題(テーマ)を用いて、ディベートの模擬試合を行います(zoomを用いて行います)。</p>
                        <p>初回2回(4/6,17)は初心者向けの内容となっています。ディベートを全く見たことがないという方でも、部員が丁寧に解説しますのでご安心ください。</p>
                        <p>最終回(4/20)は経験者向けの内容を用意しております。中高時代にディベート甲子園等のディベート大会に出場経験があり、大学ディベートの雰囲気を知りたいという方、ぜひお越しください。</p>
                        <p>【日程】</p>
                        <p>4/6: 「日本は国民投票制度を導入すべきである。是か非か。」</p>
                        <p>4/17: 「日本は積極的安楽死を合法化すべきである。是か非か。」</p>
                        <p>4/20: 「日本は難民認定の基準を大幅に緩和すべきである。是か非か。」</p>
                    </div>
                </div>
                <div class="main-lev2">
                    <h4 class="main-lev2__heading">読書会 (4/8,15)</h4>
                    <div class="main-lev2__content">
                        <p>初めての方でも体験可能な読書会を実施します。zoomを用いて行います。</p>
                        <p>【日程】</p>
                        <p>4/8: 想像の共同体部会 … B.アンダーソン『想像の共同体』を読みます。</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
<%- include("../component/_footer.ejs",{id:"join",depth:1}) %>