<%- include("../component/_header.ejs",{
    id: "join",
    depth: 1,
    title: "よくある質問 | 新歓情報 | 第一高等学校・東京大学弁論部",
    ogTitle: "よくある質問 | 新歓情報 | 第一高等学校・東京大学弁論部",
    ogURL: "utbenron.com/dev/join/2021-FAQ",
    description: "2021年度の新歓に際して、部の活動についてよくある質問をまとめました。",
    ogDescription: "2021年度の新歓に際して、部の活動についてよくある質問をまとめました。",
    ogImgURL: "https://utbenron.com/assets/image/logo/logo-small.png",
    twitterCardType: "summary"
}); %>
    <main id="main" class="no-top">
        <h3 class="heading-1">2021年度 新歓資料</h3>
        <div class="text-block">
            <p class="text-normal">今年度の新歓用資料(新歓冊子・紹介スライドなど)を公開いたします。</p>
            <p class="text-normal"><a href="./2021" class="text-link">[新刊情報のページへ]</a></p>
        </div>
        <h4 class="heading-2">新歓冊子</h4>
        <div class="text-block">
            <p class="text-normal">弁論部の新歓冊子「ロンロン」です。森教授、寺谷教授、瀧本哲史氏など弁論部卒業生による推薦文や、活動の紹介が載っています。ぜひご覧ください！</p>
            <ul class="list-in-block">
                <li>2020年度：<a href="https://drive.google.com/file/d/1PA_kMcaLlmaCZXWT8SvCts1146omPB9v/view?usp=sharing" class="text-link" target="_blank" rel="noopener noreferrer">ファイルはこちら</a></li>
                <li>2019年度：<a href="https://drive.google.com/file/d/1UNtR2sXW38m8lvOdmTmivySLSdoUYXPu/view?usp=sharing" class="text-link" target="_blank" rel="noopener noreferrer">ファイルはこちら</a></li>
            </ul>
        </div>

        <h4 class="heading-2">弁論部紹介資料</h4>
        <div class="text-block">
            <p class="text-normal">弁論部の紹介資料です！スライドと動画をご用意しました。</p>
            <ul class="list-in-block">
                <li>部の紹介スライド：<a href="https://drive.google.com/file/d/1uRVI2CWkV4W3YU-Q5Q72yRvi7sQeKuje/view?usp=sharing" class="text-link" target="_blank" rel="noopener noreferrer">ファイルはこちら</a></li>
                <li>紹介動画：<a href="https://drive.google.com/file/d/1GeQUtM4zpcOfim5WBciLSFIaSBabgToo/view?usp=sharing" class="text-link" target="_blank" rel="noopener noreferrer">ファイルはこちら</a></li>
            </ul>
        </div>

        <h4 class="heading-2">ディベート関連資料</h4>
        <div class="text-block">
            <p class="text-normal">弊部の活動内容の1つである「ディベート」に関して、入門用の資料(2020年度のもの)が<a href="https://utbenron.com/debate/2020_online-welcome-event_materials" class="text-link">こちらのページ</a>に掲載されています。ディベートに興味のある方、ぜひご参考にして下さい！</p>
    </main>
<%- include("../component/_footer.ejs",{id:"join",depth:1}) %>