<%- include("../component/_header.ejs",{
    id: "join",
    depth: 1,
    title: "2022年度新歓情報 | 第一高等学校・東京大学弁論部",
    ogTitle: "2022年度新歓情報 | 第一高等学校・東京大学弁論部",
    ogURL: "utbenron.com/join/2022",
    description: "弊部に入部を希望される方向けの情報を掲載しています。",
    ogDescription: "弊部に入部を希望される方向けの情報を掲載しています。",
    ogImgURL: "https://utbenron.com/assets/image/logo/logo-small.png",
    twitterCardType: "summary"
}); %>
    <main id="main" class="no-top">

        <!-- <h3 class="heading-1">新歓企画終了のお知らせ</h3>
        <div class="text-block">
            <p class="text-normal">今年度の新歓企画は終了いたしました。本ページの情報は全て過去のものです。</p>
            <p class="text-normal">入部申込や見学のご相談は随時受け付けておりますので、<a class="text-link" href="./">こちら</a>をご覧ください</p>
        </div> -->

        <h3 class="heading-1">2022年度 新歓企画について</h3>
        <div class="text-block">
            <p class="text-normal"><span class="highlight">2022年度の弊部の新歓企画はオンラインで行います。</span>このページでは、それぞれの企画の日程・詳細などを紹介しております。</p>
        </div>

        <h3 class="heading-1">新歓部会の詳細</h3>
        <div class="text-block">
            <p class="text-normal">新歓部会では、<span class="highlight">各回で行う内容が異なっています。</span>お間違いのないようご注意ください。</p>
            <p class="text-normal">[2022/03/07] 詳細については準備中です。少々お待ちください。</p>
            <p class="text-normal">[2022/03/24] 外部企画に関する情報を追加しました。</p>
        </div>

        <h3 class="heading-1">外部企画</h3>
        <h4 class="heading-2">UT-BASE合同新歓(3/25)</h4>
        <div class="text-block">
            <p class="text-normal"><a href="https://twitter.com/UtBase" class="text-link" target="_blank" rel="noopener noreferrer">UT-BASE</a>の合同新歓に弊部も参加いたします。<span class="highlight">3/25の20:00-21:30</span>に部の紹介を行います。紹介後に部員に質問していただいたりお話ししていただける時間も設けられています。</p>
        </div>
    </main>
<%- include("../component/_footer.ejs",{id:"join",depth:1}) %>