<%- include("../component/_header.ejs",{
    id: "join",
    depth: 1,
    enableLoading: "join",
    title: "入部希望の方へ | 第一高等学校・東京大学弁論部",
    ogTitle: "入部希望の方へ | 第一高等学校・東京大学弁論部",
    ogURL: "utbenron.com/join/",
    description: "弊部に入部を希望される方向けの情報を掲載しています。",
    ogDescription: "弊部に入部を希望される方向けの情報を掲載しています。",
    ogImgURL: "https://utbenron.com/assets/image/join.jpg",
    twitterCardType: "summary"
}); -%>
    <main id="main">
        <div id="subpage-top">
            <div id="subpage-top__title">
                <h2 id="subpage-top__title-text">入部希望の方へ</h2>
            </div>
            <img id="subpage-top__img" src="../assets/image/join.jpg" alt="">
            <div id="subpage-top__down">scroll</div>
        </div>

        <h3 class="heading-1">入部方法</h3>
        <h4 class="heading-2">入部手続き</h4>
        <div class="text-block">
            <p class="text-normal">東大弁論部に興味を持っていただき、ありがとうございます。入部を希望される方は、以下いずれかの方法で入部の意をお伝えください。</p>
            <ul class="list-in-block">
                <li>4月に行われる<span class="highlight">新歓企画</span>に参加</li>
                <li><a class="text-link" href="../contact">問い合わせ先</a>に連絡</li>
            </ul>
            <p class="text-normal">入部検討のための見学も歓迎しております。</p>
        </div>

        <h4 class="heading-2">入部要件</h4>
        <div class="text-block">
            <p class="text-normal">東京大学に学籍を持っていること (入部に際しての選抜などはありません)。</p>
            <p class="text-normal">※<span class="highlight">当サークルは他大学の方の入部は受け付けておりません。</span>あらかじめご了承ください。</p>
        </div>

        <h4 class="heading-2">部費</h4>
        <div class="text-block">
            <p class="text-normal">一律5,000円です。ただし、新規入部の際は以下のようになります。</p>
            <ul class="list-in-block">
                <li>新歓期～夏季休暇の入部：5,000円</li>
                <li>10月以降の入部：2,500円</li>
            </ul>
            <!-- <p class="text-normal">【補足】<span class="highlight">2021年度のオンライン新歓では、新歓期～夏季休暇に新規入部する際の部費が3,000円となります。</span></p> -->
        </div>

        <h3 class="heading-1">新歓企画について</h3>
        <div class="text-block">
            <p class="text-normal">弊部では、毎年4月の新歓期において、新入生向けの様々な企画を行っています。例年、実際に弁論やディベートを行ったり、OBの務める企業・官庁を訪問したりしています。</p>
            <p class="text-normal">2021度の新歓情報は<a class="text-link" href="2021">こちら</a></p>
        </div>
    </main>
<%- include("../component/_footer.ejs",{id:"join",depth:1}) %>