*{box-sizing: border-box;}

*:before, *:after {
    display: block;
    box-sizing: inherit;
}

ul{
    li{list-style: none;}
}


body{
    width: 100vw;
    position: relative;
    background-color: $base-bg-color;
    color: $base-black;
    overflow-x: hidden;
    &::-webkit-scrollbar{width: 12px;}
    &::-webkit-scrollbar-track{
        background-color: rgba($base-black,0.1);
        &:hover{
            background-color: rgba($base-black,0.2);
        }
    }
    &::-webkit-scrollbar-thumb{
        position: absolute;
        background-color: rgba($base-black,0.4);
    }
    &.stopScroll{
        &::-webkit-scrollbar{width: 0;}
    }
}

#container{
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    z-index: 0;
    transition: .5s all ease-in-out;
    &.is-open{
        transform: translateX(-75vw);
        @include mq(md){
            transform: translateX(-60vw);
        }
    }
    a{
        &:link{
            color: $base-color;
            text-decoration: underline;
        }
        &:active,a:focus{
            text-decoration: underline;
        }
        &:visited{
            color: darken($base-color,20%);
            text-decoration: underline;
        }
    }
}

#main{
    position: relative;
    margin-top: $sp-nav-height;
    margin-bottom: 15vw;
    width: 100%;
    z-index: 0;
    @include mq(lg){
        margin-top: $lg-nav-height;
    }
    &.no-top{
        margin-top: 25vw;
        margin-bottom: 15vw;
        @include mq(lg){
            margin-top: 10vw;
        }
        .no-title{
            margin-top: 30vw;
            @include mq(lg){
                margin-top: 12.5vw;
            }
        }
    }
}

#footer{
    width: 100%;
    height: 15vw;
    margin: 0;
    @include mq(lg){
        height: 5vw;
    }
    small{
        display: block;
        width: 100%;
        text-align: center;
        line-height: 15vw;
        font-size: 3.5vw;
        color: rgba($base-color,0.8);
        @include mq(lg){
            font-size: 1.3vw;
            line-height: 5vw;
        }
    }
}

#loading-screen{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    z-index: 9999;
    background-color: $base-color;
    color: $base-white;
    transition: 0s all ease-in-out;
    opacity: 1;
    // &:after{
    //     content: "";
    //     position: absolute;
    //     display: block;
    //     width: 100%;
    //     height: 100%;
    //     top: 0;
    //     left: 0;
    //     transition: .3s all ease-in-out;
    //     background-color: lighten($base-black,10%);
    //     transform-origin: right;
    //     opacity: 0;
    // }
    &.is-hidden{
        transition: .5s all ease-in-out;
        opacity: 0;
    }

    #loading-icon{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        position: absolute;
        top: calc(50vh - 20vw);
        top: calc(var(--vh, 1vh) * 50 - 20vw);
        width: 30vw;
        height: 30vw;
        left: 35vw;
        z-index: 9999;
        border-radius:50%;
        border-width:4px;
        border-style:solid;
        border-color: $base-white transparent $base-white $base-white;
        animation: 2s linear infinite reverse loadingSpin;
        @keyframes loadingSpin{
            0%{transform:rotate(0);}
            100%{transform:rotate(360deg);}
        }
        &::before{
            content:'';
            position:absolute;
            top:10px;
            left:10px;
            right:10px;
            bottom:10px;
            border-radius:50%;
            border-width:4px;
            border-style:solid;
            border-color: $base-white transparent;
            animation: 1s ease infinite loadingSpin;
        }
        @include mq(lg){
            width: 15vw;
            height: 15vw;
            left: 42.5vw;
            top: calc(50vh - 7.5vw);
        }
        
        transition: 0s all ease-in-out;
        opacity: 1;
        &.is-hidden{
            transition: .5s all ease-in-out;
            opacity: 0;
        }
    }

    #loading-screen__title{
        position: absolute;
        top: calc(var(--vh, 1vh) * 50 + 25vw);
        width: 100%;
        font-size: 4.5vw;
        text-align: center;
        letter-spacing: .2em;
        font-family: "M PLUS 1p";
        transform: scaleY(0.9);
        white-space: nowrap;
        transition: .5s ease-in-out opacity;
        opacity: 0;
        &.is-shown{
            transition: .2s ease-in-out opacity;
            opacity: 1;
        }
        @include mq(lg){
            width: 42vw;
            top: calc(50vh + 12.5vw);
            left: 29vw;
            font-size: 2.5vw;
        }
    }
}
