@charset "utf-8";
@import "normalize";
@import "settings";
@import "common";
@import "header";

#subpage-top{
    @include mq(){
        position: relative;
        width: 100%;
        height: 60vw;
        overflow: hidden;
        #subpage-top__img{
            position: absolute;
            top: 0;
            left: -5%;
            height: 100%;
        }
        #subpage-top__title{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($base-black,0.75);
            z-index: 200;
            #subpage-top__title-text{
                color: $base-white;
                font-weight: normal;
                $title-text-height: 15vw;
                position: relative;
                margin-top: calc((60vw - $title-text-height) / 2);
                width: 70%;
                margin-left: 15%;
                height: $title-text-height;
                text-align: center;
                font-size: 8vw;
                &.is-small{font-size: 6vw;}
                line-height: $title-text-height;
                z-index: 100;
                transition: .5s transform ease-in-out;
                &:before,&:after{
                    content: "";
                    display: block;
                    position: absolute;
                    width: 100%;
                    transform: scaleX(0);
                    left: 0;
                    height: 1.5px;
                    background-color: $base-white;
                    transition: .5s transform ease-in-out;
                }
                &:before{
                    top: -1.5px;
                    transform-origin: left;
                }
                &:after{
                    right: -1.5px;
                    transform-origin: right;
                }
                &.is-called{
                    &:before,&:after{
                        transform: scaleX(1);
                    }
                }
            }
        }
        #subpage-top__down{display: none;}
    }
    @include mq(md){
        position: relative;
        width: 100%;
        height: 60vw;
        overflow: hidden;
        #subpage-top__img{
            position: absolute;
            top: 0;
            left: -5%;
            height: 100%;
        }
        #subpage-top__title{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($base-black,0.75);
            z-index: 200;
            #subpage-top__title-text{
                color: $base-white;
                font-weight: normal;
                $title-text-height: 15vw;
                position: relative;
                margin-top: calc((60vw - $title-text-height) / 2);
                width: 70%;
                margin-left: 15%;
                height: $title-text-height;
                text-align: center;
                font-size: 8vw;
                &.is-small{font-size: 6vw;}
                line-height: $title-text-height;
                z-index: 100;
                transition: .5s transform ease-in-out;
                &:before,&:after{
                    content: "";
                    display: block;
                    position: absolute;
                    width: 100%;
                    transform: scaleX(0);
                    left: 0;
                    height: 1.5px;
                    background-color: $base-white;
                    transition: .5s transform ease-in-out;
                }
                &:before{
                    top: -1.5px;
                    transform-origin: left;
                }
                &:after{
                    right: -1.5px;
                    transform-origin: right;
                }
                &.is-called{
                    &:before,&:after{
                        transform: scaleX(1);
                    }
                }
            }
        }
        #subpage-top__down{display: none;}
    }
    @include mq(lg){
        position: relative;
        width: 100%;
        margin-bottom: 10vw;
        height: calc(100vh - 7.5vw);
        overflow: hidden;
        &:after{
            content: "";
            display: block;
            position: absolute;
            box-sizing: content-box;
            top: 0;
            right: 0;
            width: 75vw;
            height: calc(100vh - 7.5vw);
            background-color: rgba($base-black, 0.5);
            border-left: solid 2px $base-color;
        }
        &:before{
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 25vw;
            min-width: 20vw;
            height: calc(100vh - 7.5vw);
            background-color: $base-color;
            z-index: 100;
        }
        #subpage-top__img{
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            height: calc(100vh - 7.5vw);
            z-index: 0;
        }
        #subpage-top__title{
            position: absolute;
            top: 7.5vw;
            left: 10vw;
            width: 25vw;
            height: 25vw;
            text-align: center;
            background-color: lighten($base-black,10%);
            z-index: 100;
            #subpage-top__title-text{
                line-height: 25vw;
                margin: 0;
                color: $base-white;
                font-weight: normal;
                font-size: 2.75vw;
                &.is-small{font-size: 1.8vw;}
                &:after{
                    content: "";
                    position: absolute;
                    top: 15.25vw;
                    left: 10%;
                    width: 80%;
                    height: 1.5px;
                    background-color: $base-white;
                    transition: .5s transform ease-in-out;
                    transform: scaleX(0);
                    transform-origin: left;
                }
                &.is-called{
                    &:after{
                        transform: scaleX(1);
                    }
                }
            }
            &:after{
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: lighten($base-black, 10%);
                transition: .5s opacity ease-in-out;
                opacity: 1;
            }
            &.is-called{
                &:after{
                    opacity: 0;
                }
            }
        }
        #subpage-top__down{
            position: absolute;
            color: $base-white;
            z-index: 300;
            width: 6vw;
            text-align: center;
            left: 47vw;
            bottom: 0;
            line-height: 3;
            font-size: 1.5vw;
            cursor: pointer;
            &:before{
                content: "";
                display: block;
                position: absolute;
                width: 4vw;
                height: 4vw;
                border-bottom: 2px solid $base-white;
                border-right: 2px solid $base-white;
                top: -5vw;
                left: 1vw;
                transition: .3s transform ease-in-out;
                transform: rotate(45deg) translateY(0);
            }
            &:hover{
                &:before{
                    transform: rotate(45deg) translateX(.5vw) translateY(.5vw);
                }
            }
            transition: .5s opacity ease-in-out;
            opacity: 0;
            &.is-called{
                opacity: 1;
            }
        }
    }
}

$text-content-width: 87.5%;
$text-color-black: #444;
$text-normal-line-height: 2;

.text-block{
    position: relative;
    margin: 0 auto 3rem;
    width: $text-content-width;
    overflow: hidden;
    img.img-in-block{
        margin-top: .5rem;
        width: 100%;
    }
    @include mq(lg){
        margin-bottom: 0;
        &.text-block__with-img{
            display: flex;
            margin-top: - 1rem;
            justify-content: space-between;
            .text-content-wrapper{width: 67.5%;}
            img.img-in-block{width: 30%;}
        }
    }
    &.no-heading{
        margin-top: 3rem;
        @include mq(lg){
            margin-top: calc(10vw + 1rem);
        }
    }
}

.heading-1{
    font-size: 1.75rem;
    font-weight: bold;
    line-height: 1.5;
    padding: 0.4rem 0;

    position: relative;
    margin: 3rem auto 1rem;
    width: $text-content-width;
    border-bottom: 3px solid $base-color;
    &:after {
        content: "";
        display: block;
        position: absolute;
        border-bottom: solid 3px $base-black;
        left: 0;
        bottom: -3px;
        width: 20%;
    }

    &.no-top{
        margin-top: 7rem;
    }

    &:first-of-type{
        margin-top: 3rem;
    }
    text-align: justify;
    text-justify: inter-ideograph;
}

.heading-2{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 2;
    width: $text-content-width;
    margin: 1.5rem auto;
    border-bottom: 1px solid rgba($base-black, 0.4);
    text-align: justify;
    text-justify: inter-ideograph;
}

.heading-3{
    //display: inline-block;
    font-size: 1.1rem;
    font-weight: normal;
    line-height: 1.75;
    width: $text-content-width;
    margin: 1.5rem auto;
    border-bottom: 1px dashed rgba($base-black, 0.4);
    text-align: justify;
    text-justify: inter-ideograph;
}

p.text-normal{
    line-height: $text-normal-line-height;
    font-size: 1rem;
    color: $text-color-black;
    margin-top: 0;
    margin-bottom: 1.5rem;
    @include mq(lg){
        margin-top: 0;
        margin-bottom: 1.5rem;
    }
    text-align: left;
    text-align: justify;
    text-justify: inter-ideograph;
}
span.highlight{
    font-weight: 700;
    padding: 0 .1rem 0;
    margin: 0 .1rem 10;
    background: linear-gradient(transparent 77.5%, rgba($base-color,0.6) 65%);
}

ul.list-in-block{
    position: relative;
    width: 100%;
    border-left: 1px solid rgba($base-black, 0.4);
    padding: .75rem .5rem .25rem .75rem;
    margin-top: .5rem;
    margin-bottom: 3rem;
    overflow-x: auto;
    &.no-overflow{
        overflow-x: hidden;
        li{
            white-space: normal;
            overflow-wrap: break-all;
        }
    }
    $list-font-size: 0.9rem;
    $list-line-height: 1.75;
    $list-style-circle-size: 0.3;
    li{
        font-size: $list-font-size;
        color: $text-color-black;
        line-height: $list-line-height;
        white-space: nowrap;
        margin-bottom: .5rem;

        position: relative;
        padding-left: $list-font-size * $list-line-height;
        &:before{
            content: "";
            position: absolute;
            top: calc($list-font-size * $list-line-height * (1 - $list-style-circle-size) / 2);
            left: calc($list-font-size * $list-line-height * (1 - $list-style-circle-size) / 2);
            width: $list-font-size * $list-line-height * $list-style-circle-size;
            height: $list-font-size * $list-line-height * $list-style-circle-size;
            background-color: rgba($base-black, 0.8);
            border-radius: 50%;
        }
    }
    &.list-with-title{
        padding-top: 3rem;
        p.list-title{
            position: absolute;
            top: 0;
            left: 0;
            font-size: 1rem;
            line-height: 2;
            margin-top: 0;
            padding-left: 1rem;
            padding-right: 2rem;
            border-bottom: 1px solid rgba($base-black, 0.4);
        }
    }
    ul.list-in-list{
        margin-bottom: 1rem;
        padding-left: 1rem;
        li:before{
            background-color: transparent;
            border: 1.5px solid rgba($base-black, 0.8);
            border-radius: 50%;
        }
    }
}

div.google-slide-in-block{
    width: 100%;
    margin: 0 auto;
    height: calc(95vw * 9 / 16);
    iframe{
        width: 100%;
        height: 100%;
    }
    @include mq(lg){
        width: 60vw;
        margin-left: 15vw;
        height: calc(60vw * 9 / 16);
    }
}

@import "news";
@import "form";